@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

/**------------ FEATURE-------------- */
    .feature-list {
        column-gap: 24px;
        row-gap: 72px;
        }

    .feature-subtitle {
        text-align:left;
    }

    .feature-item {
        width: calc((100% - 24px) / 2);
    }

/**------------ TEAM-------------- */
    .team-list {
        column-gap: 24px;
        row-gap: 64px;   
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
/**------------ CUSTOMERS-------------- */
    .customers-list {
        column-gap: 24px;
    }

    .customers-item {
        max-width: 168px;
    }

    .customers-icon {
        width: 104px;
    }

    
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

/**------------ FEATURE-------------- */
    .feature-section {
        padding: 120px 0;
    }

    .feature-list {
        gap: 24px;
    }

    .feature-block {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--secondary-white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }   

    .feature-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    }
    
    .feature-item {
        width: calc((100% - 3 * 24px) / 4);
    }

/**------------ PRODUCT-------------- */
.product-section {
    padding-bottom: 120px;
    display: flex;
}

.product-title {
    color: var(--primary-black-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.product-list {
    display: flex;
    gap: 24px;
}

.product-item {
    width: calc((100% - 2 * 24px) / 3);
}
/**------------ TEAM-------------- */
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px; 
    }

    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }

/**------------ CUSTOMERS-------------- */
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        gap: 24px;
    }
}  

